*#
*.md=
*.log
*.orig
*.jfr
*.iml
*.ipr
*.iws
*.pyc
*.vim
*/project/boot
*/project/build/target
*~
.#*
.*.swp
.bloop
.bsp
.DS_Store
.cache
.classpath
.codefellow
.ensime*
.eprj
.history
.idea
.ideaq
.java-version
.sublime-project
.sublime-workspace
.manager
.metals
.multi-jvm
.nyc_output
etags
lib_managed
logs
manifest.mf
node_modules
project/project
project/plugins/project
src_managed
storage
tags
target
dependency-reduced-pom.xml
*.versionsBackup
regenerate
.vscode/settings.json
target-2.12
sdk/java-sdk-spring/tempo-data
sdk-version-raw.txt
sdk-version.txt
