#tag::customer-registry-subscriber[]
version: "3"
services:
#end::customer-registry-subscriber[]
  # note the ports being different from other sample docker-compose files to allow this service to run
  # on the same local machine as the java-protobuf-eventsourced-customer-registry
#tag::customer-registry-subscriber[]  
  kalix-runtime:
    image: gcr.io/kalix-public/kalix-runtime:1.1.36
    container_name: java-protobuf-eventsourced-customer-registry-subscriber
    ports:
      - "${ADVERTISED_HTTP_PORT}:9000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      JAVA_TOOL_OPTIONS: >
        -Dkalix.dev-mode.service-port-mappings.customer-registry=host.docker.internal:9000
      # those variables are defined in the .env file
      # when running multiple services on your local machine, make sure that 
      # the ports are unique by editing the corresponding .env files
      ADVERTISED_HTTP_PORT: ${ADVERTISED_HTTP_PORT}
      USER_SERVICE_HOST: ${USER_SERVICE_HOST}
      USER_SERVICE_PORT: ${USER_SERVICE_PORT}
#end::customer-registry-subscriber[]
